
{% block series%}
<p class="name">{{result.nameSerie}}</p>
<p class="block_synopsis">Synopsis : <p class="synopsis">{{ result.synopsisSerie}}</p></p>
<p class="nbr_saison">nombre de saison : {{ result.nbrSaison}}</p>
<p class="nbr_episodes">nombes d'épisodes : {{result.nbrEpisode}}</p>
<p class="list_saison">liste des saisons : </p>
<p class="gender">genre : {{result.genderSerie}}</p>

{%endblock%}